target/m2e-wtp/web-resources/META-INF/maven/com.project.two/ProjectTwoSTS/pom.properties

*.log
h2/*

*.iml
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea
.metadata
/.metadata/
.pmd
.pmdruleset.xml
.project
.settings/
artifacts.jar
bin
derby.log
logs.zip
pom.xml.releaseBackup
release.properties
target/
thumbs.db
