hr {
  background-color: white;
}

.custom-img {
  float: left;
  width: 2em;
  height: 2em;
  margin-right: 1rem;
}

.post-custom-card {
  width: 90%;
  max-width: 30rem;
  background-color: var(--col-e);
  margin: 5px auto 5px auto;
  border-radius: 1rem;
}
