.card.register-card {
  margin: 2vh 1rem 0 2rem;
  width: 30rem;
  background-color: var(--col-e);
}

.registerNewUserHeader {
  font-size: xxx-large;
  font-weight: bold;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #477387;
}

.registerCard {
  padding: 15px;
  margin-bottom: 20px;
}
